{% extends 'base.html.twig' %}

{% block side_navigation %}
    <div class="list-group">
        {% if app.user and is_granted('ROLE_NURSE') %}
            <a href=" {{ path('add_patients') }} " class="list-group-item">Add Patients</a>
            <a href=" {{ path('addRecord') }} " class="list-group-item">Update Patient Details</a>
            <a href=" {{ path('view_patients') }} " class="list-group-item">View Patient Details</a>
        {% endif %}
        <a href="" class="list-group-item">Change Password</a>

    </div>
{% endblock %}

{% block about %}
    {% if app.user and is_granted('ROLE_NURSE') %}
        <a href=" {{ path('add_beds') }} " class="list-group-item">Add Bed Details</a>

    {% endif %}
{% endblock %}

{% block main %}

    <center><h4>Add a new Record</h4></center>
    {% if form is defined %}

        {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
        <div class="col-sm-11">
            <div class="well">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="well">
                <h4>New Patient successfully added to the system</h4> <br>
                <h4>Record the initial condition of the patient</h4>
                <a href=" {{ path('update_patients', {'id':patient.bhtNo})  }}" class="list-group-item">Record Condition</a>
            </div>

        </div>
    {% endif %}

{% endblock %}